<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-3.3.4.min.css')}}">
        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-theme-3.3.4.min.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ asset('assets/jquery/jquery-3.2.1.min.js')}}"></script>
         <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>-->
        <script src="{{ asset('assets/bootstrap/js/bootstrap-3.3.4.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
